@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 241, 234, 225;  /* #F1EAE1 for light text */
  --background-rgb: 42, 45, 57;     /* #2A2D39 for dark background */
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.snap-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  position: relative;
} 