
:root {
  --foreground-rgb: 241, 234, 225;  /* #F1EAE1 for light text */
  --background-rgb: 42, 45, 57;     /* #2A2D39 for dark background */
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #050706 0%, #2A2D39 100%);
  min-height: 100vh;
}

.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.snap-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  position: relative;
}

.header p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #F1EAE1;
}

.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
  font-family: 'Montserrat', sans-serif;
} 